.input {
  background-color: #fff;
  border-radius: 3px;
  padding: 6px 12px;
  padding-bottom: 8px;
  width: 100%;
  display: block;
  border: none;
  margin-bottom: 6px;
}

.input:focus {
  outline: none;
}
