.popup-wrapper {
  position: relative;
}

.hover-popup {
  width: 26px;
  height: 24px;
  border-radius: 50%;
  padding-bottom: 2px;
  display: grid;
  place-content: center;
  transition: background-color 0.25s ease-out;
}

.hover-popup:hover,
.hover-popup:active {
  background-color: #c7c8cd;
}
