.form {
  padding: 10px;
  transform: scaleY(0);
  opacity: 0;
  animation: showForm 0.3s ease-out forwards;
}

@keyframes showForm {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.form .form-group {
  display: flex;
  align-items: center;
}

.form .form-group input {
  margin: 0;
}

.form .form-group label {
  font-size: 12px;
  padding-left: 4px;
}

.button-container {
  margin-top: 6px;
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  display: inline-block;
  border-radius: 4px;
  padding: 4px 12px;
  margin-top: 6px;
  font-size: 14px;
  line-height: 18px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #1b74e4;
}

.button-container button:hover {
  background-color: #1064cc;
}
