.form-add-todo {
  width: 100%;
  margin-top: 1rem;
  padding-top: 7px;
  border-top: 1px solid #091e4221;
}

.close {
  color: #918c8c;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
  margin-left: 7px;
}
