@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../assets/todos.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Box shadows */
.box-shadow-1 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.box-shadow-2 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1.5px 2px rgba(0, 0, 0, 0.1);
}

.popup-box-shadow {
  box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
}

/* Layout */
.flex {
  display: flex;
}

.flex-align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-justify-space-between {
  justify-content: space-between;
  align-items: center;
}

.flex-justify-content-center {
  justify-content: center;
  align-items: center;
}

.flex-justify-content-end {
  justify-content: flex-end;
  align-items: center;
}

/* Margins */
.my-1 {
  margin: 8px 0;
}

.mb-0-8 {
  margin-bottom: 8px;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-0-5 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}
.ml-autoIMP {
  margin-left: auto !important;
}

.m-none {
  margin: 0;
}

.no-paddings {
  padding: 0;
}

/* Different utilities */
.cursor-pointer {
  cursor: pointer;
}

.user-select-none {
  user-select: none;
}

.d-none {
  display: none;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 12px;
  margin-top: 6px;
  font-size: 14px;
  line-height: 18px;
  border: none;
  background-color: #0079bf;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #0b6192;
}

/* Text manipulation */
.text-center {
  text-align: center;
}

/* Positioning */
.position-relative {
  position: relative;
}

/* Font weight */
.font-weight-normal {
  font-weight: normal;
}

/* Modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  background-color: #fff;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  border-radius: 4px;
  padding: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: scroll;
}

/* Anchor */
.anchor-link-styling {
  color: #0079bf;
}
