.nav {
  background-color: #020306c5;
}

.nav ul {
  padding: 8px;
  margin: 0;
  list-style: none outside;
  display: flex;
  align-items: center;
}

.nav ul li {
  color: #ffffff;
  font-size: 13px;
  margin: 0 4px;
}

.nav ul li button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.nav ul li button:hover {
  background-color: #fff;
  color: #020306;
}

.nav ul li img {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  cursor: pointer;
}
