.nav {
  background-color: #020306c5;
  position: relative;
  z-index: 100;
}

.nav ul {
  padding: 8px;
  margin: 0;
  list-style: none outside;
  display: flex;
  align-items: center;
}

.nav ul li {
  color: #ffffff;
  font-size: 13px;
  margin: 0 4px;
}

.nav ul li img {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  cursor: pointer;
}
